* {
    margin: 0;
    padding: 0;
}

.title {
    background-color: blueviolet;
    color: black;
    padding: 30px;
}

h1 {
    position: relative;
    left: 250px;
}

h2 {
    position: relative;
    bottom: 100px;
}

@media only screen and (min-width:600px) {
    .navegacion {
        background-color: rosybrown;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
    }
}

@media only screen and (max-width:600px) {
    .navegacion {
        background-color: orange;
    }
    h1 {
        display: none;
    }
    .texto2 {
        display: none;
    }
}

.nav-enlace a {
    background-color: brown;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.nav-enlace a:hover {
    background-color: burlywood;
    cursor: pointer;
}

.texto2 {
    background-image: url('./img/img1.jpg');
    margin-top: 30px;
    padding: 75px;
    height: 100%;
}